body {
    background-color: #C6CDFF;
}
/* Styling for the alarms container */
.alarms-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 210px;
    margin-top: 20px;
}

/* Styling for each alarm item */
.alarm {
    display: flex;
    flex-direction: column;
    padding: 5px;
    min-width: calc(33.33% - 135px);
    background-color: #60609c;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styling for each part of the alarm */
.alarm-title,
.alarm-time,
.alarm-enabled {
    font-weight: bold;
    margin-bottom: 5px;
}

.edit-button,
.delete-button {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #bdb8d7;
    color: #60609c;
    border: none;
    border-radius: 8px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}


.add-alarm {
    display: flex;
    justify-content: flex-end;
    margin: 20px;
}

.add-alarm .add-alarm-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 55px;
    padding: 5px;
    height: 60px;
    width: 60px;
    background-color: #bdb8d7;
    color: #60609c;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.add-alarm .add-alarm-btn:hover {
    background-color: #60609c;
    color: #ffffff;
}

.edit-alarm-form {
    display: none;
    flex-direction: column;
    width: 300px;
    height: 320px;
    align-items: center;
    justify-content: center;
    margin-left: 820px;
    margin-top: 20px;
    background: #60609c;
    color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

/* Styling for labels in the edit-alarm form */
.edit-alarm-form label {
    font-weight: bold;
}

/* Styling for inputs in the edit-alarm form */
.edit-alarm-form input[type="text"],
.edit-alarm-form input[type="time"],
.edit-alarm-form input[type="checkbox"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Styling for buttons in the edit-alarm form */
.edit-alarm-form button {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #339e55;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.edit-alarm-form button.cancel {
    background-color: #c71d1d;
}

.edit-alarm-form input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-left: 10px;
}